{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if (paragraph.get('field_who_we_are_title').value
        and paragraph.get('field_who_we_are_text').value
        and content.field_au_who_we_are_blocks)
        is not empty %}
        <section class="who-we-are section">
          <div class="who-we-are__wrapper">
            <div class="who-we-are__hero">
              <div class="container">
                <div class="who-we-are__hero-wrapper">
                  <h1 class="page-title who-we-are__page-title">
                    {{ content.field_who_we_are_title }}
                  </h1>
                </div>
              </div>
            </div>
            <div class="who-we-are__desc">
              <div class="container">
                <div class="who-we-are__desc-wrapper">
                  <div class="who-we-are__desc-text desc desc_large">
                    <p>
                      {{ paragraph.get('field_who_we_are_text').value }}
                    </p>
                  </div>
                  <ul class="who-we-are__desc-list">
                    {{ content.field_au_who_we_are_blocks }}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
