{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  {% block content %}
    <li class="who-we-are__desc-item" {{ attributes.addClass(classes) }}>
      <div class="who-we-are__desc-item-icon">
        <svg class="who-we-are__desc-svg">
          <use xlink:href="{{ base_path ~ directory }}/html/build/images/sprites/sprite.svg{{ paragraph.get('field_who_we_are_block_imgclass').value }}"></use>
        </svg>
      </div>
      <div class="who-we-are__desc-item-text desc">
        <p>{{ paragraph.get('field_who_we_are_block_text').value }}</p>
      </div>
    </li>
  {% endblock %}
{% endblock paragraph %}
