{% if unl_cart.notempty %}
    <div class="developer-rows">
        <p class="selected-item">
            {{ unl_cart.title }}
        </p>
        <a href="{{ unl_cart.delete_url }}" class="filter-close cart_link_button_ajax"></a>
    </div>
        {% endif %}

