{% if unl_cart.empty.status %}
    <h6>Selected Developers</h6>
    <h5>{{ unl_cart.empty.text }}</h5>
{% else %}
    <h6>Selected Developers</h6>
    <div class="developer-rows-wrapper">
        {% for key,value in unl_cart.data.contents %}
            <div class="developer-rows">
                <p class="selected-item">
                    {{ value.developer_name }}
                </p>
                <a href="{{ value.remove_url }}" class="filter-close cart_link_button_ajax"></a>
            </div>
        {% endfor %}
    </div>
    <div class="btn-container">
        {{ link(unl_cart.config.view_cart_button, 'route:unl_cart.cart', {
            'class': ['btn', 'use-ajax'],
            'data-dialog-type': 'modal',
            'data-dialog-options': '{
        "width": 700,
        "dialogClass": "form-modal form-toggled form-modal-contacts",
        "classes":{
        "ui-dialog-titlebar": "form-header",
        "ui-dialog-titlebar-close": "form-close"
        }
        }'

        }) }}
    </div>
{% endif %}
